Source: python-inflect
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Arto Jantunen <viiru@debian.org>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               pybuild-plugin-pyproject,
               python3-all,
               python3-more-itertools,
               python3-pytest,
               python3-setuptools,
               python3-setuptools-scm,
               python3-typeguard,
Standards-Version: 4.7.0
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-pybuild
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-inflect
Vcs-Git: https://salsa.debian.org/python-team/packages/python-inflect.git
Homepage: https://github.com/jaraco/inflect

Package: python3-inflect
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Generate plurals, singular nouns, ordinals, indefinite articles (Python 3)
 The inflect Python module correctly generates plurals, singular nouns,
 ordinals and indefinite articles. It can also convert numbers to words.
 .
 This package contains the Python 3 version of this module.
